.acceptor{
    width: 175px;
    background: url("../images/text_bg_bar.png") repeat-x scroll transparent; 
    border: 1px solid grey;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.clsButton{
    display:inline;
    font-weight: bold;
    background: url("../images/button_bg_bar.png") repeat-x scroll transparent;
    border: 1px solid darkgrey;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-top: 3px;
    padding-left: 10px;
    padding-bottom: 3px;
    padding-right: 10px;
}

.handCursor{
    cursor: pointer;
}

.photo{
    width:140px;
    height: 160px;
    background: url("../images/text_bg_bar.png") repeat scroll transparent; 
    border: solid 1px grey;
}

.disabledLink{
    text-decoration: none;
}
