#lheader{
    position: absolute;
    height: 10%;
    background-color: gray;
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

#lbody{
    position: absolute;
    top: 10%;
    height:88%;
    left: 0px;
    width: 100%;
}

#lmenu{
    width: 15%;
    float: left;
    height:100%;
    padding-top: 7%;
}

#lcontents{
    width: 85%;
    float: right;
    height:100%;
    padding-top: 7%;
}

#lfooter{
    position: fixed;
    height: 2%;
    background-color: gray;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}